# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# IDE / Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml